<button style="margin-top: 10px" class="add-route-button" mat-raised-button color="primary" (click)="addTab()">Add
  Route
</button>

<mat-tab-group [hidden]="routes.length == 0" mat-stretch-tabs style="margin-top: 10px; border-radius: 3px" class="route-tabs" (selectedTabChange)="changeTab($event)">
  <mat-tab *ngFor="let route of routes">
    <ng-template class="w-100 d-flex justify-content-between" mat-tab-label>
      <i class="fas fa-route" style="color:{{route.color}};"></i>
      <i style="cursor: pointer;" (click)="closeTab(route)" class="fas fa-times ml-4"></i>
    </ng-template>
    <app-route [routesVisible]="routesVisible" [destroy]="route.destroyed" [active]="route.active" [color]="route.color"
                              [initialPoint]="route.initialPoint"></app-route>
  </mat-tab>
</mat-tab-group>
