.table
  font-size: small
.link-logo
  width: 30px
  height: 30px
.logo-wrapper
  text-align: center
  display: flex
  justify-content: space-between
  width: 80px
  margin-bottom: 10px
  margin-top: -10px
