<div class="logo-wrapper">
  <a href="https://www.google.com/maps/place/{{lat}},{{lon}}" target="_blank"><img class="link-logo" src="assets/google.png"></a>
  <a href="https://www.openstreetmap.org/{{oscarItem.properties.type}}/{{oscarItem.properties.osmid}}" target="_blank"><img class="link-logo" src="assets/osm.svg"></a>
</div>
<table class="table">
  <thead>
  <th scope="col">key</th>
  <th scope="col">value</th>
  </thead>
  <tbody>
  <tr *ngFor="let keyValue of keyValues">
    <th scope="row">{{keyValue.k}}</th>
    <td>{{keyValue.v}}</td>
  </tr>
  </tbody>
</table>
