<div class="position-absolute" style="top: {{contextMenuY}}px; left: {{contextMenuX}}px" [matMenuTriggerFor]="contextMenu"></div>
<mat-menu #contextMenu="matMenu" class="position-absolute">
  <button (click)="openCopiedSnackBar()" [cdkCopyToClipboard]="contextMenuLatLng.lat + ',' + contextMenuLatLng.lng"mat-menu-item *ngIf="contextMenuLatLng">{{contextMenuLatLng.lat | number}},{{contextMenuLatLng.lng | number}}</button>
  <button *ngIf="contextMenuLatLng"  (click)="startRadiusSearch()" mat-menu-item>
  <span>What's here?</span>
    </button>
  <button *ngIf="contextMenuLatLng"  (click)="addToRouting()" mat-menu-item>
  <span>Add To Route!</span>
  </button>
</mat-menu>
<div class="map-container"
     leaflet
     [leafletOptions]="options"
     (leafletMapReady)="onMapReady($event)">
</div>
