<div class="input-group">
  <input autocomplete="off" [(ngModel)]="inputString" (keydown.enter)="search()" type="text" class="search-input" placeholder="Search" >
  <form class="search-input-form">
    <input name="natural-input" class="search-input" placeholder="Natural Language Search" (ngModelChange)="naturalUpdate($event)" (keydown.enter)="search()" [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectEvent($event)">
      <mat-option *ngFor="let option of suggestions" [value]="inputWithoutLastWord(naturalInput) + option">{{option}}</mat-option>
    </mat-autocomplete>
  </form>
</div>
<div [hidden] = "!error" class="alert alert-danger" role="alert">
  Result to large. Please refine query.
</div>
<!--<input type="checkbox" [checked]="this.refinementStore.hasKeyRefinement({id: 0, key: 'highway'})" (change)="streetsChanged()"> streets-->
<app-active-refinements></app-active-refinements>


