.search-form
  height: 40px
  background-color: white
  border-radius: 5px
  width: 400px
.search-input
  margin-top: -10px
  width: 300px
  height: 100%
  margin-left: 10px
  border-style: none
.search-input:focus
  border-style: none
  border-color: white
  outline: none
.mat-search-input
  width: 100%
  background-color: white
.search-input-form
  margin-top: 10px
  width: 75%
  float: left
.vertical-line
  display: flex
  border-left: 1px solid #ccc
  margin-top: 5px
  height: 30px
  width: 1px
.side-button
  margin-top: 10px
  margin-left: 15px
  cursor: pointer
  color: #5a8184
.button-area
  display: inline-flex
  margin-left: 15px
