.search-input
  width: 100%
  padding: 8px 10px
  margin: 8px 0
  display: inline-block
  border: 1px solid #ccc
  border-radius: 4px
  box-sizing: border-box
.mat-search-input
  width: 100%
  background-color: white
.search-input-form
  width: 100%
