<mat-expansion-panel *ngIf="wikiData || loading" expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span *ngIf="wikiData">
        {{wikiData.name}}
      </span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="p-3 rounded bg-white w-100" style="max-height: 600px; overflow: auto" *ngIf="wikiData">
    <img class="w-100" *ngFor="let pictureUrl of wikiData.pictures" src="{{pictureUrl}}" />
    <div class="mt-3" *ngIf="wikiData.coatOfArmsUrl">
      <span>Coat of Arms:</span>
      <br>
      <img class="w-50 m-auto"  src="{{wikiData.coatOfArmsUrl}}" />
    </div>
    <div class="mt-5 w-100 d-flex flex-column">
      <div *ngIf="wikiData.population" class="w-100 flex-row d-flex justify-content-between"><span>Population: </span><span>{{wikiData.population}}</span></div>
      <div *ngIf="wikiData.area" class="w-100 flex-row d-flex justify-content-between"><span>Area: </span><span>{{wikiData.area}} km²</span></div>
      <div *ngIf="wikiData.postalCode" class="w-100 flex-row d-flex justify-content-between"><span>PostalCode: </span><span>{{wikiData.postalCode}}</span></div>
    </div>
  </div>
  <ngx-skeleton-loader *ngIf="loading" [theme]="{height: '300px'}"></ngx-skeleton-loader>
</mat-expansion-panel>


