/* You can add global styles to this file, and also import other style files */
$base-color: #007884;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.refinement-item{
  font-size: small
}
.item-count{
  float: right
}
.refinement-list{
  margin-top: 10px;
  width: 96%;
  margin-left: 2%;
}
.refinement-button{
  cursor: pointer;
  margin-top: -10px;
}

.including-refinement {
  size: 20px;
  color: green;
}
.excluding-refinement {
  color: #db4969;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
