<div style="border-radius: 2px" class="wrapper-routing-list">
  <div style="display: flex; width: 100%; justify-content: space-evenly; align-items: center; padding: 5px">

    <!--<mat-button-toggle-group [(ngModel)]="routingType" (ngModelChange)="updateRoutingType()">
      <mat-button-toggle value="car" aria-label="Text align left">
        <mat-icon>directions_car</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="bike" aria-label="Text align center">
        <mat-icon>directions_bike</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="foot" aria-label="Text align right">
        <mat-icon>directions_walk</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>-->
      <mat-checkbox style="margin-top: 10px" id="add-to-search" name="add-to-search" [(ngModel)]="checkboxActive"
                    (change)="addToSearch()">Add To Search
      </mat-checkbox>
      <div hidden class="position-relative">
        <button class="position-" mat-icon-button><mat-icon>motion_photos_on</mat-icon></button>
        <div class="position-absolute bg-white d-flex align-items-center mat-elevation-z1" style="width: 150px; margin-left: -60px; height: 25px; border-radius: 10px">
          <mat-slider class="w-100" min="0" max="10" step="1" value="0" [thumbLabel]="true" [displayWith]="formatLabel"></mat-slider>
        </div>
      </div>
    <button mat-stroked-button (click)="clearList()">clear</button>
  </div>
  <span class="m-2" *ngIf="distance > 0">{{distance | number}} km</span>
  <span class="m-2" *ngIf="time > 0">{{toHHMMSS(time / 100)}}</span>
  <div style="margin-top: 5px; width: 95%; text-align: left; margin-left: 3%" *ngIf="routingMarkers.length > 0"
       cdkDropList class="routing-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let routingMarker of routingMarkers" cdkDrag class="routing-list-item"
         style="display: inline-flex; justify-content: space-between; width: 100%; padding: 7px 14px">
      <div style="width: 13%; display: inline-flex; justify-content: space-around">
        <i class="fas fa-bars"></i>
        <i class="fas fa-map-marker-alt" style="color:{{routingMarker.color}}"></i>
      </div>
      <div *ngIf="routingMarker.name === ''"
           style="display: inline-flex; align-items: center; justify-content: space-evenly; width: 60%">
        <span>lat: {{routingMarker.geoPoint.lat | number : '1.0-6'}}</span>
        <span>lon: {{routingMarker.geoPoint.lon | number : '1.0-6'}}</span>
      </div>
      <div *ngIf="routingMarker.name !== ''">
        {{routingMarker.name}}
      </div>
      <i style="cursor: pointer; float: right;" (click)="removePoint(routingMarker.color)" class="fas fa-times"></i>
    </div>
  </div>
  <div style="text-align: center; width: 100%; margin-top: 50px" *ngIf="routingMarkers.length === 0">Click on the map to
    add routing points.
  </div>
</div>
